
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(255, 166, 0);
  }
  
  nav a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
  }
  
  nav a:hover {
    background-color: black;
    color: white;
    border-radius: 30px;
  }
  