/* Style the container */
.pro{
    max-width: 400px;
    margin-top: 50px;
    margin: 0 auto;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;

  }
  .img{
    padding-left: 500px;
  }
  /* Style the heading */
  h2 {
    color: rgb(47, 1, 1);
    text-align: center;
    font-size: 24px;
  }
  
  /* Style the information container */
  .info {
    margin-top: 20px;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: orange;
  }
  
  /* Style the user details */
  p {
    margin: 5px 0;
    font-size: 16px;
    color: black;
  }
  
  /* Style the loading message */
  .h3 {
    text-align: center;
    color: blueviolet;
  }
  
  /* Style the logout link */
  span {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
  
  a {
    color: rgba(255, 115, 0, 0.927);
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .over{
    background-color: black;
    margin: cover;
    padding: 10px;
  }
  